.login-container {
  max-width: 420px;
  margin: 80px auto;
  background: #f7f9fc;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-input {
  width: 100%;
  padding: 10px 14px;
  padding-right: 40px; /* ← место под глазик */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box; /* обязательно */
}


.password-group {
  position: relative;
}

.password-wrapper {
  position: relative;
  width: 100%;
}


.toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
  transition: color 0.2s ease;
}

.toggle-password:hover {
  color: #000;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #3578c5;
}

.login-error {
  color: red;
  margin-top: 15px;
  text-align: center;
}
